@import "scss-common.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0; }

.content_box {
  padding: 1rem; }

.write_form .ant-form-item {
  margin-bottom: 10px; }

.write_form .ant-form-item .ant-form-item-label {
  padding-bottom: 0; }

.loading_box{
  @include flex($j:center);
  width: 100vw;height: 100vh;
  position: fixed;
  left:0;top:0;z-index: 10;
}
.flex_center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.pw_box{
  width: 100%;height: 100vh;
  @include flex($d:column,$j:center);
  .back{margin-top: 10px;
    @include flex();
    svg{margin-right: 5px;}
  }
}

.btn_write{position: fixed;
  right: 1rem;
  bottom: 80px;width:45px;height: 45px;
  border-radius: 50%;background-color: $p-color;
  border:none;
  z-index: 100;
  @include flex($j:center);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  svg{font-size: 24px;color:#fff}

}

.empty_box{
  width: 100%;height: 60px;
}
footer.footer{
  position: fixed;
  bottom: 0;left: 0;
  z-index: 10;
  width: 100%;height: 60px;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  @include flex();
  span{
    flex:1;
    @include flex($d:column);
  }
}


//mypage
.mypage_box{
  .profile_box{padding:1rem;
    border-bottom: 10px solid #f1f1f1;
    .profile{
      font-size: 13px;
      @include flex();
      .name{font-weight: 700;}
      .btn_logout{border:none;background: none;margin-left: auto;}
    }
  }
  .my_list{
    padding:1rem;
    margin-bottom: 0;
    dt.tit{margin-bottom: 10px;font-weight: 700;}
    dd{}
  }
}


//search
.search_radio{
  width: 100%;
  display: flex !important;
  margin-bottom: 10px !important;
  label{flex:1;text-align: center;}
}


//animation
.ani_shake{
  animation: 'ani_shake' 0.3s both;
}
@keyframes ani_shake {
  from{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-7px);
  }
  50%{
    transform: translateX(5px);
  }
  75%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(0);
  }
}