@import "scss-common.scss";
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html{height: auto !important;}
body {
  line-height: 1; 

  dl, ol, ul{margin-bottom: 0;}
}

ol,
ul {
  list-style: none; }


blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

  html{font-family: 'Noto Sans KR';background-color: #f1f1f1;}
  body{max-width: 500px;margin:0 auto !important;background-color: #fff;}

  button{cursor: pointer;}
  table {
  border-collapse: collapse;
  border-spacing: 0; }

.ant-input{
  &::placeholder{font-family:'Dongle';font-size: 18px;}
}
  
#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0; }

.content_box {
  padding: 1rem; }


.flex_box{
  @include flex();
}


.loading_box{
  @include flex($j:center);
  width: 100vw;height: 100vh;
  position: fixed;
  left:0;top:0;z-index: 10;
}
.flex_center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.pw_box{
  width: 100%;height: 100vh;
  @include flex($d:column,$j:center);
  .back{margin-top: 10px;
    @include flex();
    svg{margin-right: 5px;}
  }
}

.btn_write{position: fixed;
  left:50%;
  bottom: 80px;width:45px;height: 45px;
  transform: translateX(100px);
  border-radius: 50%;background-color: $p-color;
  border:none;
  z-index: 100;
  @include flex($j:center);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  svg{font-size: 24px;color:#fff}

}

.empty_box{
  width: 100%;height: 60px;
}
footer.footer{
  max-width: 500px;
  background-color: #fff;
  position: fixed;
  bottom: 0;left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;height: 60px;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  @include flex();
  .ic_btn_app_down{
    @include flex();
    position: absolute;
    right: 10px;
    bottom: 70px;
    background-color: $p-color;
    border: 0;
    color: #fff;
    border-radius: 7px;
    font-size: 17px;
    padding:7px 10px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.25);
    span{font-size: 11px;margin-left: 5px;}
  }
  a{
    flex:1;
    color:#333;
    cursor: pointer;
    font-family: 'Dongle';
    font-size: 17px;
    line-height: 1.1;
    svg{font-size: 17px;height: 30px;
    }
    @include flex($d:column);

  }
}


//login
.login_box{
  width: 100%;height: 100vh;
  @include flex($d:column,$j:center);
  button{background: none;border:1px solid #ddd;padding:0.5rem 1rem;border-radius: 6px;
    @include flex();
    svg{margin-right: 5px;}
  }
}


//리스트
.list_content_box{
  &.top{padding-bottom: 0;}
  .tag_list{
    font-family: 'Dongle';
    dt{font-size: 24px;margin-right: 8px;flex-shrink: 0;}
    margin-top: 20px;margin-bottom: 0;
    @include flex($a:baseline);
    dd{
      flex-wrap: wrap;
      margin-bottom: 0;
      @include flex();
    }
    button{padding:5px 10px;border:1px solid $p-color;border-radius: 10px;background: #fff;margin-right: 5px;margin-bottom:5px;color:$p-color;font-size: 18px;line-height: 1;
      @include flex($j:center);
      &.on{background:$p-color;color: #fff;}
    }  
  }
}
.list_tab{
  @include flex($a:stretch);
  margin-bottom: 15px;
  button{
    flex:1;border:none;background-color: #fff;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
    font-size: 13px;
    &.on{border-bottom-color: $p-color;}
  }
}


.vote_img_list{
  @include flex();margin-top: 10px;
  flex-wrap: wrap;
}
.vote_img_list .ant-image{width: 60px;margin-right: 5px;margin-top: 5px;}
.vote_img_list .ant-image-mask-info{position: relative;font-size: 0;height: 100%;width: 100%;}
.vote_img_list .ant-image-mask-info span{font-size: 24px;}
.vote_img_list .ant-image-mask-info svg{
  position: absolute;left:50%;top:50%;
  font-size: 20px;
  transform: translate(-50%,-50%);
}

//mypage
.mypage_box{
  .profile_box{padding:1rem;
    border-bottom: 10px solid #f1f1f1;
    .profile{
      font-size: 13px;
      @include flex();
      .name{font-weight: 700;}
      .ic{font-size: 17px;}
    }
  }
  .my_list{
    padding:1rem;
    margin-bottom: 0;
    dt.tit{margin-bottom: 10px;font-weight: 700;font-family: 'Dongle';font-size: 22px;}
    dd{}
  }
}

.right_menu{
  margin-left: 5px;
  button{border:none;background: none;}
}
.btn_setting {font-size: 15px;border:none;background: none;top:3px;position: relative;margin-left: 3px;}
.mypage_button{
  border: none;background: none;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

.ant-btn-primary{font-family: 'Dongle';font-size: 22px !important;
  span{
    height: 100%;
    @include flex($j:center);
  }
}
//regist
.write_form.ant-form .ant-form-item{flex-wrap: wrap;}
.write_form.ant-form .ant-form-item-label{width: 100%;text-align: left;}
.write_form .ant-form-item {
  margin-bottom: 1rem; }
.write_form .ant-form-item .ant-form-item-label {
  padding-bottom: 0; }
.regist_box{
  background-color: #fff;
  min-height: calc(100vh - 60px);
  padding-top: 1rem;
  .ant-form-item .ant-form-item-label > label{font-weight: 700;font-size: 22px;}
  .ant-form label{font-family: 'Dongle';}
  .ant-row.ant-form-item{padding: 0 1rem;}
  .ant-form-item-control-input-content{height: 100%;}
  .ant-input{border-radius: 8px !important;height: 40px;}
  .ant-checkbox + span{font-size: 20px;}
  .ant-radio-group{display: flex;}
  .ant-radio-button-wrapper{flex:1;
    span{text-align: center;display: block;font-size: 18px;}
  }
  .ant-input:placeholder-shown{font-family: 'Dongle';font-weight: 400;font-size: 18px;}
}


//search
.search_input_box{
  @include flex($a:stretch);
  .ant-select:not(.ant-select-customize-input) .ant-select-selector{height: 100%;width:90px;margin-right: 5px;}
  .ant-select-single .ant-select-selector .ant-select-selection-item{line-height: 1;font-family: 'Dongle';font-size: 20px;padding-top: 12px;}
}
.ant-select-item-option-content{font-family: 'Dongle';font-size: 20px;}
.search_radio{
  width: 100%;
  display: flex !important;
  margin-bottom: 10px !important;
  label{flex:1;text-align: center;}
}


//animation
.ani_shake{
  animation: 'ani_shake' 0.3s both;
}
@keyframes ani_shake {
  from{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-7px);
  }
  50%{
    transform: translateX(5px);
  }
  75%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(0);
  }
}


.list_end{color: #999;background-color: #f5f5f5;}


.search_input .ant-btn-primary{font-size: inherit !important;
  span{height: auto;display: flex;}
}


//chat 
.chat_list__basic_chat{
  padding-right: 2rem;
  & > div:first-child {
    order: 2;margin-right: 0;margin-left: 10px;
  }
}
.chat_list__my_chat{
  padding-left: 2rem;
  & > div:last-child {
    background-color: rgb(224, 243, 119);    
  }
}
