@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.com-tab-box .tab-content {
  display: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

html {
  background-color: #f9f9f9; }

body {
  max-width: 500px;
  margin: 0 auto !important;
  background-color: #fff; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0; }

.content_box {
  padding: 1rem; }

.write_form .ant-form-item {
  margin-bottom: 10px; }

.write_form .ant-form-item .ant-form-item-label {
  padding-bottom: 0; }

.loading_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; }

.flex_center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.pw_box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.pw_box .back {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.pw_box .back svg {
  margin-right: 5px; }

.btn_write {
  position: fixed;
  left: 50%;
  bottom: 80px;
  width: 45px;
  height: 45px;
  transform: translateX(100px);
  border-radius: 50%;
  background-color: #1890ff;
  border: none;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.btn_write svg {
  font-size: 24px;
  color: #fff; }

.empty_box {
  width: 100%;
  height: 60px; }

footer.footer {
  max-width: 500px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  height: 60px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

footer.footer span {
  flex: 1;
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

footer.footer span svg {
  font-size: 17px;
  margin-bottom: 4px; }

.mypage_box .profile_box {
  padding: 1rem;
  border-bottom: 10px solid #f1f1f1; }

.mypage_box .profile_box .profile {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.mypage_box .profile_box .profile .name {
  font-weight: 700; }

.mypage_box .profile_box .profile .btn_logout {
  border: none;
  background: none;
  margin-left: auto; }

.mypage_box .my_list {
  padding: 1rem;
  margin-bottom: 0; }

.mypage_box .my_list dt.tit {
  margin-bottom: 10px;
  font-weight: 700; }

.search_radio {
  width: 100%;
  display: flex !important;
  margin-bottom: 10px !important; }

.search_radio label {
  flex: 1;
  text-align: center; }

.ani_shake {
  animation: 'ani_shake' 0.3s both; }

@keyframes ani_shake {
  from {
    transform: translateX(0); }
  25% {
    transform: translateX(-7px); }
  50% {
    transform: translateX(5px); }
  75% {
    transform: translateX(-3px); }
  100% {
    transform: translateX(0); } }

.list_end {
  color: #999;
  background-color: #f5f5f5; }
