@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
.com-tab-box .tab-content {
  display: none; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  height: auto !important; }

body {
  line-height: 1; }

body dl, body ol, body ul {
  margin-bottom: 0; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

html {
  font-family: 'Noto Sans KR';
  background-color: #f1f1f1; }

body {
  max-width: 500px;
  margin: 0 auto !important;
  background-color: #fff; }

button {
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ant-input::placeholder {
  font-family: 'Dongle';
  font-size: 18px; }

#content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0; }

.content_box {
  padding: 1rem; }

.flex_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.loading_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10; }

.flex_center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.pw_box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.pw_box .back {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.pw_box .back svg {
  margin-right: 5px; }

.btn_write {
  position: fixed;
  left: 50%;
  bottom: 80px;
  width: 45px;
  height: 45px;
  transform: translateX(100px);
  border-radius: 50%;
  background-color: #1890ff;
  border: none;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.btn_write svg {
  font-size: 24px;
  color: #fff; }

.empty_box {
  width: 100%;
  height: 60px; }

footer.footer {
  max-width: 500px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  height: 60px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

footer.footer .ic_btn_app_down {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: absolute;
  right: 10px;
  bottom: 70px;
  background-color: #1890ff;
  border: 0;
  color: #fff;
  border-radius: 7px;
  font-size: 17px;
  padding: 7px 10px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25); }

footer.footer .ic_btn_app_down span {
  font-size: 11px;
  margin-left: 5px; }

footer.footer a {
  flex: 1;
  color: #333;
  cursor: pointer;
  font-family: 'Dongle';
  font-size: 17px;
  line-height: 1.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

footer.footer a svg {
  font-size: 17px;
  height: 30px; }

.login_box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.login_box button {
  background: none;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.login_box button svg {
  margin-right: 5px; }

.list_content_box.top {
  padding-bottom: 0; }

.list_content_box .tag_list {
  font-family: 'Dongle';
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row; }

.list_content_box .tag_list dt {
  font-size: 24px;
  margin-right: 8px;
  flex-shrink: 0; }

.list_content_box .tag_list dd {
  flex-wrap: wrap;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.list_content_box .tag_list button {
  padding: 5px 10px;
  border: 1px solid #1890ff;
  border-radius: 10px;
  background: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #1890ff;
  font-size: 18px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.list_content_box .tag_list button.on {
  background: #1890ff;
  color: #fff; }

.list_tab {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 15px; }

.list_tab button {
  flex: 1;
  border: none;
  background-color: #fff;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
  font-size: 13px; }

.list_tab button.on {
  border-bottom-color: #1890ff; }

.vote_img_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  flex-wrap: wrap; }

.vote_img_list .ant-image {
  width: 60px;
  margin-right: 5px;
  margin-top: 5px; }

.vote_img_list .ant-image-mask-info {
  position: relative;
  font-size: 0;
  height: 100%;
  width: 100%; }

.vote_img_list .ant-image-mask-info span {
  font-size: 24px; }

.vote_img_list .ant-image-mask-info svg {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%); }

.mypage_box .profile_box {
  padding: 1rem;
  border-bottom: 10px solid #f1f1f1; }

.mypage_box .profile_box .profile {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.mypage_box .profile_box .profile .name {
  font-weight: 700; }

.mypage_box .profile_box .profile .ic {
  font-size: 17px; }

.mypage_box .my_list {
  padding: 1rem;
  margin-bottom: 0; }

.mypage_box .my_list dt.tit {
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Dongle';
  font-size: 22px; }

.right_menu {
  margin-left: 5px; }

.right_menu button {
  border: none;
  background: none; }

.btn_setting {
  font-size: 15px;
  border: none;
  background: none;
  top: 3px;
  position: relative;
  margin-left: 3px; }

.mypage_button {
  border: none;
  background: none;
  text-align: center;
  width: 100%;
  font-size: 12px; }

.ant-btn-primary {
  font-family: 'Dongle';
  font-size: 22px !important; }

.ant-btn-primary span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.write_form.ant-form .ant-form-item {
  flex-wrap: wrap; }

.write_form.ant-form .ant-form-item-label {
  width: 100%;
  text-align: left; }

.write_form .ant-form-item {
  margin-bottom: 1rem; }

.write_form .ant-form-item .ant-form-item-label {
  padding-bottom: 0; }

.regist_box {
  background-color: #fff;
  min-height: calc(100vh - 60px);
  padding-top: 1rem; }

.regist_box .ant-form-item .ant-form-item-label > label {
  font-weight: 700;
  font-size: 22px; }

.regist_box .ant-form label {
  font-family: 'Dongle'; }

.regist_box .ant-row.ant-form-item {
  padding: 0 1rem; }

.regist_box .ant-form-item-control-input-content {
  height: 100%; }

.regist_box .ant-input {
  border-radius: 8px !important;
  height: 40px; }

.regist_box .ant-checkbox + span {
  font-size: 20px; }

.regist_box .ant-radio-group {
  display: flex; }

.regist_box .ant-radio-button-wrapper {
  flex: 1; }

.regist_box .ant-radio-button-wrapper span {
  text-align: center;
  display: block;
  font-size: 18px; }

.regist_box .ant-input:placeholder-shown {
  font-family: 'Dongle';
  font-weight: 400;
  font-size: 18px; }

.search_input_box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row; }

.search_input_box .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
  width: 90px;
  margin-right: 5px; }

.search_input_box .ant-select-single .ant-select-selector .ant-select-selection-item {
  line-height: 1;
  font-family: 'Dongle';
  font-size: 20px;
  padding-top: 12px; }

.ant-select-item-option-content {
  font-family: 'Dongle';
  font-size: 20px; }

.search_radio {
  width: 100%;
  display: flex !important;
  margin-bottom: 10px !important; }

.search_radio label {
  flex: 1;
  text-align: center; }

.ani_shake {
  animation: 'ani_shake' 0.3s both; }

@keyframes ani_shake {
  from {
    transform: translateX(0); }
  25% {
    transform: translateX(-7px); }
  50% {
    transform: translateX(5px); }
  75% {
    transform: translateX(-3px); }
  100% {
    transform: translateX(0); } }

.list_end {
  color: #999;
  background-color: #f5f5f5; }

.search_input .ant-btn-primary {
  font-size: inherit !important; }

.search_input .ant-btn-primary span {
  height: auto;
  display: flex; }

.chat_list__basic_chat {
  padding-right: 2rem; }

.chat_list__basic_chat > div:first-child {
  order: 2;
  margin-right: 0;
  margin-left: 10px; }

.chat_list__my_chat {
  padding-left: 2rem; }

.chat_list__my_chat > div:last-child {
  background-color: #e0f377; }
