@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.com-tab-box .tab-content {
  display: none; }

.view_finish_pop {
  position: fixed;
  left: 50%;
  top: 0;
  width: var(--domWid);
  height: 100%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  animation: fade_in 0.3s forwards;
  opacity: 0; }

@keyframes fade_in {
  to {
    opacity: 1; } }

.view_finish_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.view_finish_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #111;
  color: #fff; }

.view_finish_txt svg {
  position: relative;
  top: 2px; }

.view_finish_con {
  min-width: 300px;
  max-width: calc(var(--domWid) - 40px);
  position: relative;
  z-index: 10;
  padding: 1.5rem;
  padding-top: 55px;
  padding-bottom: 1rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade_up 0.3s forwards;
  opacity: 0;
  transform: translateY(35px); }

.view_finish_con dl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0; }

.view_finish_con dd {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0; }

@keyframes fade_up {
  to {
    opacity: 1;
    transform: translateY(0); } }

.view_con_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #35394b;
  overflow: auto;
  padding-bottom: 40px;
  position: relative; }

.ranking_box {
  width: 100%;
  z-index: 10;
  position: sticky;
  top: 0; }

.ranking {
  width: 100%;
  z-index: 10;
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.ranking li {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  padding: 7px 1rem;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd; }

.ranking li .rank {
  height: 100%;
  display: inline-block;
  font-size: 15px;
  font-family: 'Oswald';
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.ranking li .rank_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
  font-size: 14px; }

.ranking li .ic_target {
  margin-left: auto;
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  cursor: pointer; }

.btn_fold {
  border: none;
  width: auto;
  font-size: 11px;
  padding: 7px 10px;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom-left-radius: 5px; }

.btn_fold svg {
  font-size: 1rem; }

.vote_list {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 0;
  flex: 1;
  padding: 0 1rem;
  padding-bottom: 40px; }

.vote_list li {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.vote_list .profile {
  margin-right: 10px;
  max-width: 70px;
  text-align: right;
  color: #ddd;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  font-size: 12px; }

.vote_list .profile .date {
  color: #a1a1a1;
  font-size: 11px;
  display: block;
  margin-top: 5px; }

.vote_list .con {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }

.title_box {
  margin-right: 1rem; }

.btn_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.count {
  margin-right: 5px;
  font-weight: 500; }

.empty_box {
  height: 106px;
  flex-shrink: 0; }

.submit_box {
  position: fixed;
  width: 100%;
  padding: 1rem;
  height: auto;
  z-index: 60;
  max-width: 500px;
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: 0.3s;
  background-color: #fff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2); }

.img_upload_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: stretch; }

.img_upload_list {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: #888;
  font-size: 12px; }

.img_upload_list img {
  margin-right: 10px;
  max-width: 60px; }

.img_upload_list span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.img_upload_list button {
  margin-left: auto;
  border: 0;
  background-color: #fff;
  font-size: 16px;
  padding: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.input_file {
  flex-shrink: 0;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 40%; }

.input_file input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0; }

.input_file input + label {
  border: 1px solid #ddd;
  height: 100%;
  font-family: 'Dongle';
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  cursor: pointer; }

.loading_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.bg_box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50; }

.btn_vote {
  padding: 0;
  border: none; }

.ic_vote {
  font-size: 19px;
  color: #1890ff;
  margin-top: 5px; }

.empty {
  width: 100%;
  height: 40px; }

.btn_open_box {
  width: 100%;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.btn_open_box button {
  height: 40px;
  background-color: #1890ff;
  border: none;
  color: #fff;
  font-family: 'Dongle';
  font-size: 20px; }

.btn_open_box .btn_open {
  flex: 2; }

.btn_open_box .btn_finish {
  flex: 1;
  background-color: #333; }

.btn_open_box .finish_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
  height: 40px;
  background-color: #333;
  color: #fff; }

.desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1; }

.vote_link {
  margin-top: 10px;
  font-size: 13px;
  width: 100%; }

.vote_link a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center; }

.vote_link svg {
  margin-left: 5px;
  position: relative;
  top: 2px; }

.vote_img {
  max-width: 100%; }

.room_data {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row; }

.room_left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 0.6rem 1rem; }

.room_left h2 {
  font-size: 16px;
  margin-right: 15px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.4;
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.room_info {
  font-size: 11px;
  flex-shrink: 0;
  color: #888;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px; }

.room_info li {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  line-height: 1;
  flex-shrink: 0; }

.room_top_right {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px 4px 5px 0; }

.room_out {
  cursor: pointer;
  border: none;
  background: none;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.room_out svg {
  font-size: 22px; }

.btn_kakao {
  background: none;
  border: 0;
  padding: 5px; }

.right_con {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  flex-shrink: 0; }

.btn_vote_list_view {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 11px; }

.btn_vote_list_view svg {
  margin-right: 4px;
  font-size: 13px; }

.btn_vote_list_view + ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  max-height: 100px;
  overflow: auto;
  z-index: 10;
  background-color: #fff;
  padding: 0.5rem 1rem;
  bottom: -5px;
  right: -10px;
  transform: translateY(100%);
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

.btn_vote_list_view + ul li {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  font-size: 11px; }

.voter_list {
  background-color: #fff; }
